@import url('https://fonts.googleapis.com/css2?family=Besley&display=swap');

.App {
  font-family: 'Besley', serif;
  text-align: center;
}

.comment {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
  border: 2px solid #3f50b5;
  border-radius: 5px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 10px;
}

.reply-box {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.reply-box form {
  width: 100%
}

.reply-box button {
  width: 10%;
  margin-left: 5px;
}
